<launch deprecated="warning!">
  <param name = "param_a" type="int" value="100" />

  <node pkg="turtlesim" type="turtlesim_node" name="my_turtle" output="screen"  >
   <param name = "param_b" type="double" value = "3.14" />
  </node>
  <node pkg="turtlesim" type="turtle_teleop_key" name="my_key" output="screen" />
</launch>

